.header {
    background-color: var(--ternary-color);
}
.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.optionContainer {
    display: flex;
    align-items: center;
    gap:1rem;
}

.optionItem {
    display: flex;
    align-items: center;
}